%h2.page-head Recent Uploads 

// TODO: This will be factored into a reusable partial
.share-string
  %h3 Seat of the Triumvirate.
  %textarea{ :readonly => true }
    DFSfsfsfsfdFS442332DFSfss442332gghh58992dFS442332gghh584FSsfdFGH44DFSfsfsfsfdFS442332DFSfss442332gghh58992dFS442332gghh584FSsfdFGH44DFSfsfsfsfdFS442332DFSfss442332gghh58992dFS442332gghh584FSsfdFGH44DFSfsfsfsfdFS442332DFSfss442332gghh58992dFS442332gghh584FSsfdFGH44DFSfsfsfsfdFS442332DFSfss442332gghh58992dFS442332gghh584FSsfdFGH44DFSfsfsfsfdFS442332DFSfss442332gghh58992dFS442332gghh584FSsfdFGH44
  %button Copy String

