// Begin Grid
@include breakpoint(tablet) {
    html, body {
        height: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: $header-height 1fr $footer-height;
        grid-template-areas: "header nav nav"
                             "main main main"
                             "footer footer footer";
        
     }

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
        justify-self: right;
        text-align: right;
        width: 100%;
    }

    main {
      grid-area: main;
      justify-self: left;
    }

    footer {
        grid-area: footer;
        justify-self: center;
    }
}
