// Typography
$font-stack: 'Roboto Condensed', sans-serif

// Colors
$color-body-background: #000
$color-brand-primary: #ff9117
$color-body: hsla(0, 100%, 100%, 0.95)

// Layout
$header-height: 3rem
$footer-height: 2rem
$spacer: 1rem
